<div class="container" *ngIf="products$">
  <ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStatEnum.LOADING">
      <div class="text-info">Patientez ...</div>
    </ng-container>

    <ng-container *ngSwitchCase="DataStatEnum.LOADED">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Sélectioné</th>
          <th scope="col">Disponibilité</th>

        </tr>
        </thead>
        <tbody>
          <app-product-item *ngFor="let product of result.data"
                            [product]="product">

          </app-product-item>
        </tbody>
      </table>
    </ng-container>

    <ng-container *ngSwitchCase="DataStatEnum.ERROR">
      <div class="text-danger">
        {{result.error}}
      </div>
    </ng-container>
  </ng-container>
</div>
